.main>h1 {
    text-align: center;
    color: blueviolet;
    font-size: 200%;
}

.main>p {
    margin: 20px 10%;
    font-size: 100%;
    background-color: aqua;

}

.main>a {
    font-size: 100%;
    margin: 20px 10%;
}

.main>img {
    display: block;
    margin: auto;
}