.main>h1 {
    text-align: center;
    color: blueviolet;
    font-size: 200%;
}

.main>p {
    margin: 20px 10%;
    font-size: 120%;
    background-color: #8df7fb;
    border-radius: 20px;
    padding: 20px;

}

.main>a {
    font-size: 100%;
    margin: 20px 10%;
    border-radius: 20px;
    padding: 20px;

}

.main>img {
    display: block;
    margin: auto;
}